{% extends "main.html" %}

{% block title %}
Informacja o dostepnej wizycie
{% endblock %}

{% block content %}
<h1>Wizyta do rezerwacji</h1>

<p>Data: {{ visit.date }}</p>
<p>Specjalizacja: {{ visit.speciality }}</p>
<p>Lekarz: {{ visit.doctor }}</p>

<form action="{% url 'book_visit' visit.id %}" method="post">
    {% csrf_token %}
    {% if request.user.is_authenticated and not visit.is_booked and not visit.is_past %}
    <button type="submit" value="book_visit">Zarezerwuj wizyte</button>
    {% endif %}
</form>

<p>Wroc do <a href="/visits">Lista dostepnych wizyt</a></p>
{% endblock %}